*{
    margin: 0px;
    font-family: Arial;
border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex ;
    align-items: center;
 justify-content: space-evenly; 
}
.navlogo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url(/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
    margin-left: px;
}
.border
{
    border: 1.5px  transparent;
}

.border:hover{
    border: 1.5px solid white;
} 
.first{
color: #cccccc;
font-size: 0.8rem;
margin-left: 15px;
}
.second{
font-size: 1rem;
margin-left: 3px;

}

.add-icon{
    display: flex;
align-items: center;
}
/** 3 box**/
.nav-search:hover{
    border: 3px solid rgb(202, 236, 4);
}
.nav-search{
    size: 50px;
    display: flex;
    width: 750px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(241, 174, 29);
    justify-content: space-evenly;
}
.search-select{
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;   
    border: none;
}
/* .nav-address{
    margin-left: 20px;
    margin-right: 30px;
} */
.search-input{
    font-size: 1rem;
    border: none;
    width: 100%;
}
.ser-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #080808;
}
/**box4**/
span{
    font-size: 0.7rem;
    font-weight: 700px;
}
.nav-2nd{
    font-size: 0.85rem;
    font-weight: 700px;
}
.nav-cart i {
    font-size: 35px;
    height: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}
/**  2nd line**/
.panel i{
    font-size: 1.3rem;
}
.panel{
    font-size: 0.9rem;
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panal-all{
    font-size: 1rem;
    width: 50px;
    margin-left: 10px;
}
.panal-opt p{
    display: inline;
    width: 90%;
    font-size: 0.8rem;
    margin-left: 15px;
}
.panal-opt{
    width: 70%;
    font-size: 0.85rem;
}
.hero{
    background-image: url(/hero_image.jpg);
    height: 380px;
    background-size: cover;


}
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 3 no */
.shop-box{
    height: 350px;
    display: flex;

    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.shop-box h2{
    margin-left: 18px;
    margin-top: 20px;
}
.box{
    border: 2px solid black;
    width: 23%;
    background-color: rgb(255, 246, 246);
   
}
.box1 img{
    height: 230px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}


.more  { margin-top: 5px;
    margin-left: 18px;
    margin-bottom: 10px;
}
.box2 img{
    height: 230px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.box3 img{
    height: 230px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.box4 img{
    height: 230px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.box5 img{
    height: 230px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.box6 img{
    height: 230px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.box7 img{
    height: 230px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.box8 img{
    height: 230px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}

/*  fotor*/
footer{
    text-align: center;
    justify-items: center;
    color: white;
    background-color: #37475a;
    font-size: 1rem;
    height: 50px;
    
}
.sub-last{
    display: flex;
    color: white;
    background-color: #232f3e;
    justify-content: space-evenly;
}


.sec-last p{
    margin: 20px;
 
    } 
.last p{
        margin: 20px;
    }